#Dataset Files

RAW_DATASET_FILE_NAME:Review.txt

PREVIOUS_SEESION_FILE_NAME:PreviousReview.txt



OUTPUT_FILE:Output.txt



#Annotation

NUM_ANNOTATION_FIELD 3

SENTENCE_POLARITY[pos,neg,neu,con]

ASPECT_TERM:ASPECT_TERM_POLARITY

ASPECT_CATEGORY[misc,software,hardware,ease of use]:ASPECT_CATEGORY_POLARITY

c:jj:jh